form input[type="text"] {
  font-size: 190%;
}
body {
  padding: 0 0 100px 0;
  background: #fafafa;
}
select,
option {
  font-size: 120%;
}
#Boxs {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  -moz-column-rule: 1px dashed #e3e3e3;
  -webkit-column-rule: 1px dashed #e3e3e3;
  column-rule: 1px dashed #e3e3e3;
}
div.box {
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px;
  min-width: 300px;
  border-bottom: 1px dashed #fed9dc;
}
div.box h3 {
  padding: 0;
  text-align: center;
  color: #525252;
}
div.box div.content {
  padding: 10px;
}
#Me {
  padding: 10px 0 10px 10px;
}
#Me h3 {
  font-family: 'Lenka';
  font-size: 230%;
  font-style: italic;
  text-align: left;
  padding: 10px 5px 0 10px;
  margin: 0;
}
#Me div.content {
  padding: 3px 5px 4px 15px;
  color: #000;
}
#Control_Panel {
  float: none;
  overflow: auto;
  margin: 0;
  padding: 0;
}
#Control_Panel #Other_Screen_Names {
  background: #fffdd2;
  padding: 10px;
}
#Control_Panel #Other_Screen_Names div.screen_names ul {
  margin: 0;
  padding: 0;
  display: inline;
}
#Control_Panel #Other_Screen_Names div.screen_names li {
  list-style: none;
  margin: 0;
  display: inline;
}
#Control_Panel #Other_Screen_Names div.screen_names li:after {
  content: ", ";
}
#Control_Panel #Other_Screen_Names div.screen_names li:last-child:after {
  content: "";
}
#Other_Screen_Names {
  display: none;
  padding: 0 0 10px 0;
}
#New_Life div.content span.label {
  padding: 0 10px 0 0;
}
#New_Life div.content input[type="text"] {
  width: 200px;
  font-size: 190%;
  margin-right: 10px;
}
#New_Life div.content div.fields,
#New_Life div.content div.screen_name,
#New_Life div.content div.buttons {
  display: inline-block;
}
#Create {
  width: 300px;
  background: rgba(0,0,0,0.6);
}
#Create div.link {
  padding: 0 2px 7px 0;
}
#Create a:link {
  padding: 1px 7px 5px 7px;
}
#Create div.loading {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}
#Create div.success {
  background: #fff;
  padding: 3px 7px;
}
#Create div.errors {
  color: #f50000;
  padding: 3px 7px;
}
#Create_Boxs {
  display: none;
  padding: 10px 0 0 0;
  overflow: auto;
}
#Create_Boxs div.box {
  float: left;
  margin: 0 0 0 10px;
}
#Create_Boxs div.box h3 {
  border-radius: 0;
  display: block;
  text-align: left;
  padding-left: 10px;
  color: #ffdf2c;
  background: rgba(0,0,0,0.8);
}
#Create_Boxs div.box div.content {
  color: #ffdf2c;
  background: rgba(0,0,0,0.8);
}
#Create_Boxs div.box div.content label,
#Create_Boxs div.box div.content span.label {
  color: #ffdf2c;
}
#Create_Boxs div.box div.content div.field span {
  display: block;
  text-transform: none;
}
#Create_Boxs div.box div.content div.field input {
  width: 98%;
}
#Create_Boxs div.box div.content div.buttons {
  text-align: right;
}
#Create_Website {
  max-width: 300px;
  display: none;
}
#Write_Message span.label {
  display: block;
}
#Write_Message textarea {
  width: 97%;
  min-height: 100px;
}
#Write_Message div.buttons {
  text-align: right;
}
#Write_Message div.buttons button {
  margin: 0 15px 0 0;
}
#Message_Board div.msgs div.msg {
  border-radius: 3px 0 0 3px;
  background: #fff;
  padding: 4px 2px 4px 5px;
  margin: 0 0 10px 0;
}
#Message_Board div.msgs div.msg span.author {
  color: #185dad;
  font-weight: bold;
  font-size: 90%;
  font-style: italic;
}
#Message_Board div.msgs div.msg span.said {
  color: #727272;
  font-style: italic;
}
#Message_Board div.msgs div.msg div.content {
  font-size: 120%;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
#Message_Board div.msgs div.official {
  background: #fffdd2;
  font-style: italic;
}
#Message_Board div.msgs div.me_chat_msg,
#Message_Board div.msgs div.me_msg {
  background: #fffdd2;
}
#Message_Board div.msgs div.error_msg {
  color: #f00919;
}
#Enter_Chat_Room {
  border-radius: 3px;
}
#Enter_Chat_Room div.content {
  background: #fff;
  width: 300px;
  padding: 15px 0 20px 0;
  text-align: center;
  font-size: 110%;
}
#Enter_Chat_Room div.content a:link {
  padding: 3px 5px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
#Enter_Chat_Room div.content a:link:after {
  content: ": ";
}
#Enter_Chat_Room div.content div.error_msg {
  display: none;
  background: #fffdd2;
  color: #f00919;
  padding: 5px;
}
#Folders div.content ul.folders {
  margin: 0;
}
#Folders div.content ul.folders li {
  margin: 0;
  padding: 0;
}
#Folders div.content div.folders div.folder {
  padding: 3px 15px 5px 8px;
  font-size: 140%;
  font-weight: bold;
}
#Folders div.content div.folders div.folder a.open {
  font-size: 90%;
}
#Folders div.content div.folders div.folder span.title {
  padding: 0 0 0 3px;
}
#Folders div.content form span.label {
  display: block;
}
#Folders div.content form input[type="text"] {
  font-size: 190%;
  width: 95%;
}
body.w600_plus #Boxs {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
body.w1200_plus #Boxs {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}
