extends ./layout

block footer
  script(src='/assets/js/underscore.js')
  script(src='/assets/js/jquery.js')
  script(src='/assets/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/assets/js/_base.js')
  script(src='/assets/js/Forms.js')
  script(src='/assets/js/#{template_name}.js')

block content


    h1.title
      | <span class="main">ok</span><span class="sub">doki</span>

    div(id='header')
      p
        | <span class="about">On-line Chat Network</span>
        | <br />
        | Chat with busy friends.
      p
        | <strong>COMING THIS YEAR.</strong>

    div(id='footer')
      p
        | (c) 2012-2013 OKdoki.com. Some rights reserved.
      p
        | All other copyrights belong to their respective owners.
      p
        | Cover Photo:
        | <a href="http://www.dreamstime.com/bikes-in-a-row-free-stock-photos-imagefree84388">Bikes in Montreal</a>
      p
        | Logo font:
        | <a href="http://lenkavomelova.com/">Lenka Stabilo</a>



    div(id='forms')
      div.tabs
        a.sign_in(href="#sign_in") Log-In
        span.or ~ or ~
        a.create_account(href="#create_account") Create New Account

      form(id='sign_in', action='/sign-in', method='post')
        div.fields
          div.field.screen_name
            div
              span.label Screen name:
            input.field(type='text', name="screen_name", value="")
          div.field.passphrase
            div
              span.label Passphrase
            input.field(type='password', name="passphrase", value="")
          div.field.buttons
            input.field(type='hidden', name="_csrf", value="#{token}")
            button.submit(id='submit_form_sign_in') Log-In
            a.cancel(href="#cancel") Cancel


      form(id='create_account', action='/create-account', method='post')
        div.fields

          div.field.screen_name
            div
              span.label Screen name:
            input.field(type='text', name="screen_name", value="")

          div.field.email
            div
              span.label Email:
              span.value  (in case you forget your password)
            input.field(type='text', name="email", value="")

          div.field.passphrase
            div
              span.label Passphrase:
            input.field(type='password', name="passphrase", value="")

          div.field.confirm-passphrase
            div
              span.label Confirm Passphrase:
            input.field(type='password', name="confirm_passphrase", value="")

          div.field.buttons
            input.field(type='hidden', name="_csrf", value="#{token}")
            button.submit(id='submit_form_create_account') Create Account
            a.cancel(href="#cancel") Cancel



