#Me {
  padding: 18px 0 0 5px;
  margin: 0 0 0 20px;
  text-align: left;
  border-bottom: 4px double #333;
  background: rgba(255,255,255,0.2);
}
#Me h3 {
  font-size: 200%;
  padding: 0;
  width: 90%;
  margin: 0;
}
#Me div.content {
  width: auto;
  padding: 8px 0 2px 2px;
  margin: 0;
  border: 0;
  line-height: 1.5em;
  color: #595959;
}
#Me div.content a:link {
  text-decoration: underline;
}
#Create {
  padding: 10px 0 0 0;
  width: 400px;
  background: transparent;
  color: #000;
}
#Create div.link {
  padding: 0 2px 5px 0;
}
#Create a:link {
  padding: 1px 5px 5px 5px;
}
#Create div.loading {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}
#Create div.success {
  background: #fff;
  padding: 3px 5px;
}
#Create div.errors {
  color: #f50000;
  padding: 3px 5px;
}
#Create div.create {
  display: inline-block;
  padding: 0 5px 0 13px;
  font-size: 90%;
  text-transform: lowercase;
}
#Create div.link {
  display: inline-block;
}
#Create div.active {
  background: #fafafa;
  border-radius: 3px 3px 0 0;
}
#Create div.active a:link,
#Create div.active a:hover {
  color: #185dad;
  font-weight: bold;
  text-decoration: none;
  background: transparent;
  cursor: default;
}
#Creates {
  width: 400px;
}
#Creates div.create {
  display: none;
  background: #fff;
  padding: 5px;
}
#Creates div.create div.success {
  color: #ffea74;
  border: 0;
}
#Creates div.create div.ele input {
  width: 95%;
}
#Creates div.create div.ele textarea {
  width: 95%;
  min-height: 100px;
}
#Creates div.create span.sub {
  display: inline-block;
  padding: 0 0 0 4px;
  color: #bbb;
}
#Creates div.create div.buttons {
  text-align: right;
}
#Creates div.create button {
  margin: 0 0 0 10px;
}
#Creates div#Page {
  display: block;
  background: #fafafa;
}
#Pages {
  padding: 10px;
}
#Pages div.page {
  padding: 0 0 5px 0;
}
div.boxs {
  padding: 10px 0 0 0;
  display: none;
}
div.boxs div.box {
  float: left;
  margin: 0 0 0 15px;
}
div.boxs div.box div.content {
  width: 200px;
  height: 200px;
  background: #ffea74;
  border-radius: 10px 0;
  text-align: left;
  padding: 0;
  overflow: auto;
}
div.boxs div.box div.content div.title,
div.boxs div.box div.content div.buttons {
  color: #fff;
  background: rgba(0,0,0,0.6);
  padding: 5px 1px 5px 7px;
  font-size: 80%;
  text-transform: uppercase;
}
div.boxs div.box div.content div.title {
  border-radius: 6px 0 0 0;
}
div.boxs div.box div.content div.buttons {
  padding: 0 0 5px 0;
  display: none;
}
