body {
  padding: 0;
}
h1 {
  font-family: 'Lenka';
  font-size: 30pt;
  font-style: italic;
  text-align: left;
  padding: 0 0 8px 10px;
  margin-bottom: 0;
}
#Me {
  width: 400px;
}
#Me div.content {
  background: rgba(0,0,0,0.6);
  padding: 2px 5px 4px 5px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
#Create {
  padding: 10px 0 0 0;
  width: 400px;
  background: transparent;
  color: #000;
}
#Create div.link {
  padding: 0 2px 5px 0;
}
#Create a:link {
  padding: 1px 5px 5px 5px;
}
#Create div.loading {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}
#Create div.success {
  background: #fff;
  padding: 3px 5px;
}
#Create div.errors {
  color: #f50000;
  padding: 3px 5px;
}
#Create div.create {
  display: inline-block;
  padding: 0 5px;
  font-size: 90%;
  text-transform: lowercase;
}
#Create div.link {
  display: inline-block;
}
#Create div.active {
  background: #fff;
  border-radius: 3px 3px 0 0;
}
#Create div.active a:link,
#Create div.active a:hover {
  color: #185dad;
  font-weight: bold;
  text-decoration: none;
  background: transparent;
  cursor: default;
}
#Creates {
  width: 400px;
}
#Creates div.create {
  display: none;
  background: #fff;
  padding: 5px;
}
#Creates div.create div.success {
  color: #ffea74;
  border: 0;
}
#Creates div.create div.ele input {
  width: 95%;
}
#Creates div.create div.ele textarea {
  width: 95%;
  min-height: 100px;
}
#Creates div.create span.sub {
  display: inline-block;
  padding: 0 0 0 4px;
  color: #bbb;
}
#Creates div.create div.buttons {
  text-align: right;
}
#Creates div.create button {
  margin: 0 0 0 10px;
}
#Creates div#Page {
  display: block;
}
#Pages {
  padding: 10px;
}
#Pages div.page {
  padding: 0 0 5px 0;
}
div.boxs {
  padding: 10px 0 0 0;
  display: none;
}
div.boxs div.box {
  float: left;
  margin: 0 0 0 15px;
}
div.boxs div.box div.content {
  width: 200px;
  height: 200px;
  background: #ffea74;
  border-radius: 10px 0;
  text-align: left;
  padding: 0;
  overflow: auto;
}
div.boxs div.box div.content div.title,
div.boxs div.box div.content div.buttons {
  color: #fff;
  background: rgba(0,0,0,0.6);
  padding: 5px 1px 5px 7px;
  font-size: 80%;
  text-transform: uppercase;
}
div.boxs div.box div.content div.title {
  border-radius: 6px 0 0 0;
}
div.boxs div.box div.content div.buttons {
  padding: 0 0 5px 0;
  display: none;
}
