if aud.data.screen_name_rows.length === 1
  input.field(type='hidden', name="as", value="#{aud.data.screen_name_rows[0].screen_name}")
else
  - for x in aud.data.screen_name_rows
    div.field.as
      div.label As:
      select(name='as')
        option(value='#{x.screen_name}') #{x.screen_name}
