extends ./layout

block footer
  script(src='http://underscorejs.org/underscore-min.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/index.js')

block content

  div(id='chatroom')

    div(id='output')

      div(id='messages')

    div(id='input')

      div(id='create_msg')
        textarea(rows='4') type
        input(id='csrf_token', type="hidden", name="_csrf", value="#{token}")
        button.submit Send

      div(id='bots')
        div(id='bots-o')
          p Active
        div(id='bots-x')
          p Non-Active


      include nav

