extends ./layout

block footer
  script(src='/assets/js/Markdown.Converter.js')
  script(src='/assets/js/Markdown.Sanitizer.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/showdown/src/showdown.js')
  script(src='/socket.io/socket.io.js')
  script(src='/assets/js/index.js')

block content
  include nav

  div(class='row-fluid chatroom-row')
    div(class='span8 chatroom', id='chatroom')
      p This is text

    div(class='span4 chatroom-users')
      p This is text


  div(class='row-fluid chatroom-text-row')
    div(class='span8')
      div(class='main')
        form
          fieldset
            textarea type
          fieldset
            button.submit Send


