extends ./layout

block footer
  script(src='/assets/js/underscore-min.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/assets/js/index.js')

block content

  div(id='chatroom')

    div(id='output')

      div(id='messages')

    div(id='input')

      div(id='create_msg')
        textarea.blur_ed(rows='4') ;-)~ Type here.
        input(id='csrf_token', type="hidden", name="_csrf", value="#{token}")
        button.submit Send

      div(id='bots')

        div(id='bots-o')
          h2 :-)~
          ul 
            li Mises.Bot
            li Horton.The.Bot

        div(id='bots-x')
          h2 :-x
          ul 
            li Obama.Miracles
            li Tokyo.Mania


      include nav

