extends ./layout

block footer
  script(src='/assets/js/underscore-min.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/assets/js/index.js')


block content

  if !logged_in
    div(id='forms')
      p(id='show_sign_in')
        a(href="#sign_in") Log-In

      div.form(id='sign_in')
        h2 Log-in
        form(action='/sign-in', method='post')
          div.screen_name
            label(for="mask_name") Screen name:
            input.field(type='text', name="mask_name", value="")
          div.passphrase
            label(for="passphrase") Passphrase
            input.field(type='password', name="passphrase", value="")
          div.status 
            div.content
          div.submit
            button.submit Log-In
          a.cancel(href="#cancel") Cancel


      p(id='or_create_account')
        | ~ or ~

      div.form(id='create_account')
        h2 Create Account
        form(action='/create-account', method='post')
          div.screen_name
            label(for="mask_name") Screen name:
            input.field(type='text', name="mask_name", value="")
          div.passphrase
            label(for="passphrase") Passphrase
            input.field(type='password', name="passphrase", value="")
          div.confirm-passphrase
            label(for="confirm-passphrase") Confirm Passphrase
            input.field(type='password', name="confirm-passphrase", value="")
          div.email
            label(for="email") Email (in case you forget your password):
            input.field(type='text', name="email", value="")
          div.status 
            div.content
          div.submit
            button.submit Create Account

  if logged_in
    - var css_logged = 'logged_in'
  else
    - var css_logged = ''


  div(id='intro', class='#{css_logged}') 
    if logged_in
      h2 Welcome, #{screen_names.list.join(', ')}.
      p 
        | See your <a href="/info/#{screen_names.first}">homepage</a>
        | or go into <a href="/chat">chat</a>.
    else
      h2 What is OKdoki.com?
      p 
        | Entertain your friends with:
        | <br />
        | <strong>chat</strong>, <strong>chat pets</strong>,
        | <strong>lifes</strong>, and <strong>homepages</strong>.
      div(id='footer')
        p 
          | (c) 2012-2013 OKdoki.com. Some rights reserved.
        p
          | All other copyrights belong to their respective owners.
    

    div(id='keyword')
      div.label
        | OKdoki keyword or screen-name:
      div
        input(type='text', value='', name='keyword')
        button Go


