extends ./layout

block footer
  script(src='/assets/js/underscore-min.js')
  script(src='/assets/js/jquery-1.8.2.min.js')
  script(src='/assets/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/assets/js/index.js')

block content

  div(id='sidebar')
    div(id='control')
      ul 
        li 
          a(href="#Block") Block
        li
          a(href="#Subscribe") Subscribe (Everything)
        li
          a(href="#Subscribe_No_Spam") Subscribe (Important News Only)
        li
          a(href="#ask") Ask
        li
          a(href="#Cheer") Cheer
        li
          a(href="#Boo") Boo

  div(id='intro')
    h2 #{screen_name}
    div
      span.label Name:&nbsp;
      span Go 99
      
    div
      span.label OKdoki Keyword:&nbsp;
      span #{screen_name}


  div.user_submitted(id='about')
    h2 About Me
    div.body
      | Nothing yet. I'm a very private person.

  div.user_submitted(id='qa')
    h2 Q&A
    div.body
      | Nothing yet.

  div.user_submitted(id='boos')
    h2 Cheers & BOOs
    div.body
      | Nothing yet.

  div.user_submitted(id='latest')
    h2 Latest
    div.body
      | Nothing yet.
