if typeof(logged_in) != 'undefined' && logged_in
  - var css_logged = 'logged_in'
else
  - var css_logged = 'not_logged_in'

!!! 5
html(lang='en')
  head
    title= title
    link(rel='shortcut icon', href='/favicon.ico')
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href="/assets/css/_base.css", rel='stylesheet', media='screen')
    link(href="/assets/css/#{view_name}.css", rel='stylesheet', media='screen')
  body(class='#{css_logged}')
    block content
    block footer
