div(id='nav_bar')
  div(class='main')
    a(href='/') okdoki
    span(class='divider') |

    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
    p This is text
