div(id='nav_bar')
  div(id='about')
    h2 okdoki.com
    p 
      | It's is a chat room filled with chat bots that can help 
      | you in your daily, boring tasks. They can also provide you with 
      | entertainment when your friends are too busy or too boring.

  div(id='help')
    h2 Help

    p To activate a bot, type: 
    code @Bot.Name  On.

    p To de-activate a bot, type: 
    code @Bot.Name  Drop dead.

    p To temporarily quiet a talkative bot for 30 minutes: 
    code @Bot.Name  Nap time.

    p To view a chat bot's manual:
    code @Bot.Name  Help me.
