html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f2f2;
  font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
}
a:link {
  padding: 0 4px 2px 4px;
  color: #f85d95;
}
a:visited {
  color: #966e7f;
}
a:hover {
  background: #f85d95;
  color: #fff;
}
a:visited:hover {
  color: #fff;
  background: #966e7f;
}
h2 {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
}
h4 {
  padding: 0;
  margin: 0;
  color: #185dad;
}
code {
  display: block;
  margin: 0;
  padding: 4px 2px 4px 5px;
  border-radius: 4px 0 0 4px;
}
strong {
  background: #008eed;
  color: #fff;
  padding: 0 5px 2px 5px;
  font-size: 90%;
  font-weight: normal;
}
body.logged_in #okdoki_nav_bar a.home {
  margin-right: 10px;
}
#okdoki_nav_bar,
#log_out {
  background: #000;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 8px;
  margin: 0 8px 7px 0;
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 0;
  right: 10px;
}
label,
div.label,
span.label {
  background: #008eed;
  color: #fff;
  border-radius: 0;
}
div.label_mild,
span.label_mild {
  color: #008eed;
  border-radius: 0;
}
form.hidden_fields div.fields {
  display: none;
}
form div.undo {
  display: none;
}
form div.show_again {
  display: none;
}
form.trashed div.fields {
  display: none;
}
form.trashed div.undo {
  display: block;
}
form div.field {
  padding: 0 0 6px 0;
}
form div.field label,
form div.field span.label,
form div.field span.value,
form div.field span.optional,
form div.field span.info {
  background: transparent;
  color: #185dad;
  font-weight: bold;
  font-size: 80%;
  text-transform: uppercase;
}
form div.field span.value {
  display: block;
  color: #6d6d6d;
}
textarea,
select,
option {
  color: #000;
}
textarea.blurred {
  font-style: italic;
  color: #afafaf;
  font-weight: bold;
}
form {
  padding: 0;
  margin: 0;
}
form.loading {
  background: transparent url("/assets/img/med_loading.gif") no-repeat center 8px;
}
form.loading div.fields {
  visibility: hidden;
}
form.loading div.field {
  padding-bottom: 10px;
}
form input[type="password"],
form input[type="text"],
form textarea {
  margin: 0;
}
form div.errors {
  color: #f00919;
  background: #fff;
  padding: 2px 4px 4px 4px;
  border: 1px dashed #f00919;
  border-width: 1px 0;
}
form div.success {
  border: 1px dashed #d60600;
  border-width: 1px 0;
  font-style: italic;
  font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
  padding: 4px;
  border-radius: 0 0 3px 3px;
  color: #072700;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82,168,236,0.8);
  outline: 0;
  outline: thin dotted 9;
/* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.6);
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  background: #fff7c7;
}
div.loading {
  padding: 0 0 0 39px;
  background: transparent url("/img/small_loading.gif?v2") no-repeat left center;
  font-family: 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif;
  font-style: italic;
}
div.no_records {
  display: none;
}
div.edit_able_s {
  padding: 0 0 4px 0;
}
div.edit_able_s div.label {
  font-weight: bold;
  font-size: 80%;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 3px;
}
div.edit_able_s div.loading {
  background-position: center center;
}
div.edit_able_s div.loading div.hide_able {
  visibility: hidden;
}
div.edit_able_s div.loading div.input_able {
  visibility: hidden;
}
div.edit_able_s div.edit_able {
  padding: 0 0 0 13px;
}
div.edit_able_s div.edit_able div.label {
  margin: 0;
  background: transparent;
  color: #000;
}
div.edit_able_s div.edit_able div.input_able {
  padding: 0 0 5px 0;
}
div.edit_able_s div.edit_able div.input_able input[type="text"],
div.edit_able_s div.edit_able div.input_able input[type="password"] {
  width: 70%;
}
div.edit_able_s div.edit_able div.input_able div.buttons {
  padding-left: 4px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 75%;
  font-weight: bold;
}
div.edit_able_s div.edit_able span.title {
  display: inline;
  font-size: 85%;
  font-weight: bold;
  color: #2d2d2d;
}
div.edit_able_s div.edit_able span.value {
  display: inline;
  font-size: 85%;
}
div.edit_able_s div.edit_able a.edit {
  font-size: 75%;
  font-weight: bold;
  text-transform: uppercase;
}
div.edit_able_s div.edit_able div.success {
  border-radius: 3px;
  display: inline-block;
  font-weight: bold;
  background: #74bb1b;
  color: #fff;
  font-size: 60%;
  text-transform: uppercase;
  padding: 0 4px;
}
div.edit_able_s div.edit_able div.error {
  color: #d01616;
  font-weight: bold;
  font-family: serif;
  font-style: italic;
  text-align: center;
}
div.edit_able_s div.edit_able div.input_able div.label {
  color: #2d2d2d;
}
#Session_Nav {
  float: right;
  padding: 0 5px 2px 5px;
  text-align: right;
  background: #fafafa;
  background: rgba(255,255,255,0.5);
}
#Session_Nav a {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
  text-transform: uppercase;
  font-size: 70%;
  font-weight: bold;
}
#Logo {
  text-shadow: #4d4d4d 0.1em 0.1em 0.1em;
  font-family: 'Lenka';
  font-weight: 400;
  font-size: 12pt;
  margin: 0 0 0 0;
  padding: 10px 0 7px 5px;
}
#Logo span.main {
  font-size: 12pt;
  color: rgba(255,255,255,0.85);
  font-weight: bold;
  font-style: italic;
  padding-right: 5px;
  text-transform: uppercase;
}
#Logo span.sub {
  font-size: 14pt;
  color: #f85d95;
  color: rgba(248,93,149,0.9);
}
h1 {
  font-family: 'Libertinage', Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 280%;
  font-style: normal;
  text-transform: none;
  text-shadow: 1px 1px 1px #fff;
  padding: 10px 5px 10px 10px;
  margin: 0 auto;
}
div.box {
  background: rgba(255,255,255,0.85);
}
div.box h3 {
  padding: 0;
  text-align: center;
  color: #525252;
  font-size: 95%;
}
div.box div.content {
  padding: 10px;
}
#Enter_Chat_Room {
  border-radius: 4px;
  background: rgba(0,0,0,0.65);
  color: #ffea74;
}
#Enter_Chat_Room div.content {
  padding: 15px 0 10px 0;
  text-align: center;
  font-size: 110%;
}
#Enter_Chat_Room div.content a:link {
  color: #c8d690;
  padding: 3px 5px;
  border-radius: 5px;
  border-width: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
#Enter_Chat_Room div.content a:link:after {
  content: ": ";
}
#Enter_Chat_Room div.content a:visited {
  color: #c8d690;
}
#Enter_Chat_Room div.content a:hover {
  background: #829537;
  color: #fff;
}
#Enter_Chat_Room div.content div.error_msg {
  display: none;
  background: $light_yellow;
  color: $red;
  padding: 5px;
}
