$glass_black = rgba(0,0,0,0.65)
$glass_black_subtle = rgba(248,93,149,0.9)

$glass_white = rgba(255,255,255,0.85)
$glass_white_med = rgba(255,255,255,0.35)

$glass_blue = rgba(0, 142, 237, 0.7)


$black       = #000
$dark_blue   = #185DAD
$light_blue  = #E1EEFF
$light_black = #6D6D6D
$light_green = #74BB1B
$pink        = #F85D95
$orange      = #ff8f00
$dark_orange = #f08700
$darker_orange = #e48000
$blue_green  = #00b9b2
$blue        = #008EED
$yellow      = #FFEA74
$samar_red   = #F00919

$avacado=#b0c460

