
$glass_black = rgba(0,0,0,0.65)
$glass_black_darker = rgba(0,0,0,0.8)

$glass_white = rgba(255,255,255,0.85)
$glass_white_med = rgba(255,255,255,0.35)

$glass_blue = rgba(0, 142, 237, 0.7)


$black       = #000
$light_black = #6D6D6D
$downlight_on_black = #D6D6D6
$downlight_on_black = #92999C

$white = #fff

$blue        = #008EED
$dark_blue   = #185DAD
$dark_blue   = #185DAD
$light_blue  = #E1EEFF
$blue_green  = #00b9b2

$light_green = #74BB1B

$pink = #F85D95
$glass_pink = rgba(248,93,149,0.9)

$orange      = #FF7800
$orange      = #FF721A
$orange      = #ff8f00
$dark_orange = #f08700
$darker_orange = #e48000


$yellow      = #FFEA74
$yellow         = #FFEA74
$yellow_med     = #FFDF2C
$light_yellow   = #FFFDD2

$samar_red   = #F00919

$avacado=#b0c460

