$black       = #000
$dark_blue   = #185DAD
$light_blue  = #E1EEFF
$light_black = #6D6D6D
$light_green = #74BB1B
$pink        = #F85D95
$orange      = #ff8f00
$dark_orange = #f08700
$darker_orange = #e48000
$blue_green  = #00b9b2
$blue        = #008EED
$yellow      = #FFEA74
$samar_red   = #F00919

$avacado=#b0c460
$red            = #FF0000
$pink        = #F85D95
$dark_blue      = #185DAD
$light_blue     = #E1EEFF
$light_yellow   = #FFFDD2
$grey_on_light  = #727272
$yellow         = #FFEA74
$yellow_med     = #FFDF2C
$padding_create = 7px
$serif          = Georgia,Cambria,"Times New Roman",Times,serif;
$sans-serif     = 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif
$cursive        = 'Lenka', 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif

$red=#f00919
$avacado=#b0c460
$orange=#ffbe2c
$light_blue=#a2d3e0
$blue=#073d6f

$glass_white    = rgba(255,255,255,0.85)
$glass_black    = rgba(0,0,0,0.65)

form
  &.hidden_fields div.fields
    display: none;

  div.undo
    display: none;


  div.show_again
    display: none;


  &.trashed div.fields
    display: none;


  &.trashed div.undo
    display: block;

  div.field
    padding: 0 0 6px 0
    label, span.label, span.value, span.optional, span.info, div.label
      background: transparent
      color: $dark_blue
      font-weight: bold
      font-size: 80%
      text-transform: uppercase
    span.value
      display: block
      color: $light_black

textarea, select, option
  color: #000;


textarea.blurred
  font-style: italic;
  color: #AFAFAF;
  font-weight: bold;



form
  padding: 0;
  margin: 0;

  &.loading
    background: transparent url("/assets/img/med_loading.gif") no-repeat center 8px;


    div.fields
      visibility: hidden;


    div.field
      padding-bottom: 10px;


  input[type="password"], input[type="text"], textarea
    margin: 0;


  div.errors
    color: $samar_red;
    background: #fff;
    padding: 2px 4px 4px 4px
    border: 1px dashed $samar_red
    border-width: 1px 0


  div.success
    border: 1px dashed #D60600;
    border-width: 1px 0;
    font-style: italic;
    font-family: $sans-serif;
    padding: 4px;
    border-radius: 0 0 3px 3px;
    color: #072700;



textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input
  background-color: #f9f9f9;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);



input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus
  background: lighten($yellow, 60%)


div.loading
  padding: 0 0 0 39px
  background: transparent url("/img/small_loading.gif?v2") no-repeat left center
  font-family: $sans-serif
  font-style: italic



form
  text-align: left

  div.field
    span.label, label
      font-weight: normal
      color: $grey_on_light
    input[type="text"]
      font-size: 190%

  textarea
    min-width: 97%
    max-width: 97%
    max-height: 250px
    min-height: 100px
    width: 97%

  div.label_mild, span.label_mild
    color: #008EED;
    border-radius: 0;

  div.buttons
    button
      font-size: 95%





