form input[type="text"] {
  font-size: 190%;
}
body {
  padding: 0 0 80px 0;
  background: #fcfcfc url("/App/img/wood_pattern.png");
}
#Session_Nav {
  float: right;
}
h1 {
  font-family: 'Libertinage', Georgia, Cambria, "Times New Roman", Times, serif;
  background: transparent;
  font-size: 140%;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  display: block;
  padding: 10px 0 5px 10px;
  margin: 0;
  text-shadow: 1px 1px 1px #fff;
}
#One_More_Step {
  overflow: auto;
}
#One_More_Step div.box {
  background: rgba(255,255,255,0.4);
  text-align: center;
  padding: 0 10px 10px 10px;
  margin: 20px 0 0 0;
  font-size: 120%;
  padding: 20px 10px 30px 10px;
}
#One_More_Step div.box h3 {
  padding: 0 0 10px 0;
  font-size: 90%;
  color: #4d4d4d;
  text-transform: none;
}
#One_More_Step div.box div.content {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
#One_More_Step div.box div.content div.fields,
#One_More_Step div.box div.content div.field,
#One_More_Step div.box div.content div.buttons,
#One_More_Step div.box div.content span.label {
  display: inline;
}
#One_More_Step div.box a:link,
#One_More_Step div.box a:visited {
  color: #f85d95;
  border-width: 2px;
}
#One_More_Step div.box a:hover {
  background: #f85d95;
  color: #fff;
  border-color: #f85d95;
}
#The_Door {
  display: none;
}
#Boxs {
  padding: 0;
  margin: 0;
}
#Boxs div.box {
  margin: 0 0 10px 0;
  padding: 0;
}
#Boxs div.box h3 {
  background: #fff;
}
#Boxs div.box div.content {
  background: #fff;
  padding: 5px;
}
#Boxs #Audience {
  background: #fff;
  padding: 0;
}
#Boxs #Audience ul {
  margin: 0;
  padding: 0;
}
#Boxs #Audience ul li {
  padding: 0;
  list-style: none;
  display: inline;
}
#Boxs #Write {
  padding: 0;
  text-align: center;
}
#Boxs #Write div.content,
#Boxs #Write form {
  padding: 0;
}
#Boxs #Write span.label {
  display: block;
  font-weight: normal;
  color: #ffea74;
  text-transform: none;
  font-size: 100%;
  padding: 3px 0 3px 0;
}
#Boxs #Write textarea {
  min-height: 100px;
  max-height: 300px;
  max-width: 94%;
  width: 94%;
}
#Boxs #Write div.buttons {
  text-align: center;
}
#Boxs #Write div.content {
  background: rgba(0,0,0,0.4);
  padding-top: 8px;
  padding-bottom: 15px;
}
#Chats {
  padding: 0;
  margin: 0;
}
#Chats div.msgs div.msg {
  border-radius: 3px;
  background: #fff;
  padding: 3px 5px 3px 5px;
  margin: 0 0 10px 5px;
}
#Chats div.msgs div.msg span.author {
  color: #185dad;
  font-weight: bold;
  font-size: 90%;
  font-style: italic;
}
#Chats div.msgs div.msg span.said {
  color: #727272;
  font-style: italic;
}
#Chats div.msgs div.msg div.content {
  font-size: 120%;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
#Chats div.msgs div.official {
  background: #fffdd2;
  font-style: italic;
}
#Chats div.msgs div.me_chat_msg,
#Chats div.msgs div.me_msg {
  background: #fffdd2;
}
#Chats div.msgs div.error_msg {
  color: #f00;
}
body.is_stranger h1 {
  text-align: center;
  font-size: 250%;
  padding-top: 20px;
}
body.w600_minus #Boxs #Audience ul {
  margin: 0;
  padding: 0;
}
body.w600_minus #Boxs #Audience ul li {
  list-style: none;
  display: inline;
}
body.w600_minus #Boxs #Audience ul li:after {
  content: ", ";
}
body.w600_minus #Boxs #Audience ul li:last-child:after {
  content: "";
}
body.w600_plus #Boxs {
  float: left;
  width: 44%;
}
body.w600_plus #Boxs #Audience div.content {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 6px;
  -webkit-column-gap: 6px;
  column-gap: 6px;
  -moz-column-rule: 1px dotted #ececec;
  -webkit-column-rule: 1px dotted #ececec;
  column-rule: 1px dotted #ececec;
}
body.w600_plus #Boxs #Audience div.content ul li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.w600_plus #Chats {
  width: 55%;
  float: left;
  padding-bottom: 80px;
}
body.w1000_plus #Boxs #Audience div.content {
  -moz-column-count: 6;
  -webkit-column-count: 6;
  column-count: 6;
  -moz-column-gap: 12px;
  -webkit-column-gap: 12px;
  column-gap: 12px;
}
