
body {
}

#nav_bar {
  background: #161616;
  padding: 0;
  color: #FD6C08;
  font-weight: bold;
}

#nav_bar div.main {
  padding: 4px 0 4px 10px;
}

#nav_bar span.divider {
  padding: 0 3px;
}

a:link {
  color: #F85D95;
  text-decoration: underline;
}

a:visited {
  color: #A3E452;
}

a:hover {
  color: #FD6C08;
}

#exs div.span3, #exs div.span5 {
  padding: 8px 2px 10px 8px;
}

div.hero-unit {
  padding-top: 30px;
  padding-bottom: 8px;
  padding-left: 20px;
}

#markdown_ex {
  background: #FD6C08;
}

#html_ex {
  background: #F85D95;
}

div.hero-unit h1 {
  color: #F85D95;
  font-size: 30px;
}

div.span5, div.span6, div.span7 {
}

#do_something {
  margin-top: 20px;
}

#do_something div.span3 {
  background: #EEE;
}

#do_something div.span3 p {
  padding: 10px;
}
