/* Palettes used: */
/* http://www.colourlovers.com/palette/2524852/FRUITY */

/* Spanning the height of the browser window: */
/* http://www.webmasterworld.com/forum83/200.htm */


html, body {
  margin   : 0;
  padding  : 0;
  height   : 100%;
  overflow : hidden;
}

body {
  background-color: #F2F2F2;
}

a:link {
  color: #F85D95;
  text-decoration: underline;
}

a:visited {
  color: #A3E452;
}

a:hover {
  color: #E42323;
}

h2 {
  font-size: 1.0em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

code {
  display: block;
  margin: 0;
  padding: 4px 2px 4px 5px;
  border-radius: 4px 0 0 4px;
}

#chatroom {
  position : relative;
  margin   : 0 auto;
  width    : 100%;
  height   : 100%;
  clear    : both;
}

  #output {
    position   : relative;
    top        : 0;
    left       : 0;
    height     : 100%;
    margin-right: 305px;
    overflow   : auto;
  }

    #messages {
      padding: 20px 0 0 0;
    }

      #messages div.msg {
        background : #FFCD66;
        padding    : 5px 10px;
        margin     : 5px 10px 10px 0;
        border-radius: 0 4px 4px 0;
      }

      #messages div.status_msg {
        background: #FFF175;
      }

      #messages div.error_msg {
        background: #E22714;
        font-weight: bold;
        color: #fff;
      }

  #input {
    position     : absolute;
    top          : 0;
    right        : 0;
    width        : 300px;
    height       : 100%;
    overflow     : auto;
  }

    #create_msg {
      padding: 4px 0 10px 0;
    }

      #create_msg textarea {
        width: 260px;
        color: #000;
      }

      #create_msg textarea.blur_ed {
        color: #BFBFBF;
        font-weight: bold;
        font-style: italic;
      }


    #bots {
    }

      #bots h2 {
        color: #2D2D2D;
        padding: 3px 0 5px 8px;
        border-radius: 4px 0 0 0;
        font-size: 80%;
        font-style: italic;
      }

      #bots ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

        #bots li {
          border-bottom: 1px solid #313131;
          padding: 4px 0 4px 6px;
          border-radius: 4px 0 0  4px;
        }

      #bots-o, #bots-x {
        border-radius: 4px 0 0 4px;
        margin: 0 0 10px 0;
      }

      #bots-o {
        padding-left: 0;
        border: 1px solid #000;
        border-width: 1px 0 0 1px;
      }

        #bots-o h2 {
          background: #232323;
          color: #A3E452;
        }

      #bots-x {
        background: #161616;
      }

        #bots-x h2 {
          color: #FD6C08;
          padding-top: 6px;
          padding-bottom: 0;
        }

        #bots-x li {
          color: #909EB4;
          font-style: italic;
          padding-bottom: 6px;
          padding-top: 4px;
        }

#nav_bar {
  background    : #161616;
  padding       : 0 0 10px 0;
  margin-bottom : 20px;
  border-radius: 4px 0 0 4px;
}

  #nav_bar h2 {
    color         : #FD6C08;
  }

  #nav_bar div.main {
    padding: 4px 0 4px 10px;
  }

  #nav_bar span.divider {
    padding: 0 3px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  #nav_bar code {
    margin-bottom: 10px;
  }

  #nav_bar div.section {
    padding: 5px 0px 8px 10px;
    color: #fff;
  }

    #nav_bar div.section p {
      padding-right: 8px;
    }





