
@import "../../css/_common"

#New_RSS_Sub
  div.intro
    padding-bottom: 10px
form#Create_RSS_Sub
  div.field
    input[type="text"]
      font-size: 90%
      font-family: monospace
      padding: 8px 0

