
append templates
  div.msg(id="msg_{id}")
    div.meta
      span.said in &nbsp;
      span.room_name {room_name}
      span.by &nbsp; by &nbsp;
      span.name {author_screen_name}
    div.body
      | {body}


