
append Bot_Create
  div.box#New_Bot
    div.setting
      a.on(href="#show") Show
    h3 Create a Bot
    div.content
      - for(var x in Bots.Own)
        p #{Bots.Own[x].screen_name}
      form#Bot_Create(action="/Bot", method="POST")
        div.fields
          div.field.sub_sn
            label(for="NEW_BOT_SCREEN_NAME") Screen Name:
            input#NEW_BOT_SCREEN_NAME(name="sub_sn", type="text")
        div.buttons
          call span_as()
          button.submit Create
