/* Palettes used: */
/* http://www.colourlovers.com/palette/2524852/FRUITY */

/* Spanning the height of the browser window: */
/* http://www.webmasterworld.com/forum83/200.htm */


html, body {
  margin   : 0;
  padding  : 0;
}

body {
  background-color: #F2F2F2;
  font-family: proxima-nova, 'Helvetica Neue', Arial, sans-serif;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

a:link {
  color: #F85D95;
  padding: 2px 4px;
}

a:visited {
  color: #74BB1B;
}

a:hover {
  color: #E42323;
  background: #F85D95;
  color: #fff;
}

h2 {
  font-size: 1.0em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

code {
  display: block;
  margin: 0;
  padding: 4px 2px 4px 5px;
  border-radius: 4px 0 0 4px;
}

strong {
  background: #008EED;
  color: #fff;
  padding: 0 5px 2px 5px;
  font-size: 90%;
  font-weight: normal;
}

body.logged_in #okdoki_nav_bar a.home {
  margin-right: 10px;
}

#okdoki_nav_bar, #log_out {
  background: #000;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 8px ;
  margin: 0 8px 7px 0;
  border-radius: 0 0 3px 3px;
  position: absolute;
  top: 0;
  right: 10px;
}

div.label, span.label {
  background: #008EED;
  color: #fff;
  border-radius: 0;
}

div.label_mild, span.label_mild {
  color: #008EED;
  border-radius: 0;
}

div.block {
}

  div.block h2 {
    background: #008EED;
    color: #fff;
    padding: 2px 10px 2px 6px;
    font-size: 80%;
  }

  div.block div.body {
    background: #fff;
    padding: 10px;
    border: 1px solid #008EED;
    border-radius: 0 0 3px 5px;
    border-width: 0 1px 1px 1px;
  }

  div.block div.fieldset {
    text-align: right;
  }
    div.block input[type='text'],
    div.block input[type='password'] {
      width: 90%;
      text-align: left;
    }

    div.block button {
      margin-top: 5px;
    }

#intro {
  background: #000;
  color: #E1EEFF;
  padding: 0;
}

div.intro {
  background: #000;
  color: #E1EEFF;
  padding: 0;
}

form {}

  form.hidden_fields div.fields {
    display: none;
  }

  form div.undo {
    display: none;
  }

  form div.show_again {
    display: none;
  }

  form.trashed div.fields {
    display: none;
  }

  form.trashed div.undo {
    display: block;
  }

textarea, select, option {
  color: #000;
}

  textarea.blurred {
    font-style: italic;
    color: #AFAFAF;
    font-weight: bold;
  }


form {
  padding: 0;
  margin: 0;
}

  form.loading {
    background: transparent url("/assets/img/med_loading.gif") no-repeat center 8px;
  }
    form.loading div.fields {
      visibility: hidden;
    }

  div.field {
    padding-bottom: 10px;
  }

  input[type="password"], input[type="text"] {
    margin: 0;
    font-family: monospace;
    font-size: 110%;
    font-weight: bold;
  }

  form div span.label {
  }

  form div span.value {
    font-size: 80%;
    display: block;
  }

  form div.errors {
    background: #CB0818;
    color: #fff;
  }

  form div.success {
    border: 1px dashed #D60600;
    border-width: 1px 0;
    font-style: italic;
    font-family: serif;
    font-size: 120%;
    padding: 4px;
    border-radius: 0 0 3px 3px;
    color: #072700;
  }


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}



#sidebar {
}
  #sidebar div.intro {
    background: transparent;
  }

div.loading {
  padding: 0 0 0 22px;
  background: transparent url("/assets/img/small_loading.gif") no-repeat left center;
  font-family: serif;
  font-style: italic;
}

div.no_records {
  display: none;
}

div.edit_able_s {
  padding: 0 0 4px 0;
}
    div.edit_able_s div.label {
      font-weight: bold;
      font-size: 80%;
      display: inline-block;
      padding: 0 5px;
      margin-bottom: 3px;
    }

  div.edit_able {
    padding: 0 0 0 13px;
  }
    div.edit_able div.label {
      margin: 0;
      background: transparent;
      color: #000;
    }

    div.edit_able div.input_able {
      padding: 0 0 5px 0;
    }
      div.edit_able div.input_able input[type="text"],
      div.edit_able div.input_able input[type="password"] {
        width: 70%;
      }

      div.edit_able div.input_able div.buttons {
        padding-left: 4px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 75%;
        font-weight: bold;
      }

    div.edit_able span.title {
      display: inline;
      font-size: 85%;
      font-weight: bold;
    }

    div.edit_able span.value {
      display: inline;
      font-size: 85%;
    }

    div.edit_able a.edit {
      font-size: 75%;
      font-weight: bold;
      text-transform: uppercase;
    }


