/* Palettes used: */
/* http://www.colourlovers.com/palette/2524852/FRUITY */

/* Spanning the height of the browser window: */
/* http://www.webmasterworld.com/forum83/200.htm */


html, body {
  margin   : 0;
  padding  : 0;
}

body {
  background-color: #F2F2F2;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

form {
  padding: 0;
  margin: 0;
}

input[type="text"] {
  margin: 0;
  font-family: monospace;
  font-size: 110%;
  font-weight: bold;
}

a:link {
  color: #F85D95;
  text-decoration: underline;
}

a:visited {
  color: #A3E452;
}

a:hover {
  color: #E42323;
}

h2 {
  font-size: 1.0em;
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

code {
  display: block;
  margin: 0;
  padding: 4px 2px 4px 5px;
  border-radius: 4px 0 0 4px;
}

#log_out {
  background: #000;
  font-size: 70%;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px 8px ;
  float: right;
  margin: 0 8px 7px 0;
  clear: both;
  border-radius: 0 0 3px 3px;
}

div.label, span.label {
  background: #008EED;
  color: #fff;
  border-radius: 0;
}

div.block {
}

  div.block h2 {
    background: #008EED;
    color: #fff;
    padding: 2px 10px 2px 6px;
    font-size: 80%;
  }

  div.block div.body {
    background: #fff;
    padding: 10px;
    border: 1px solid #008EED;
    border-radius: 0 0 3px 3px;
    border-width: 0 1px 1px 1px;
  }

  div.block div.fieldset {
    text-align: right;
  }
    div.block input[type='text'] {
      width: 90%;
      text-align: left;
    }
    div.block button {
      margin-top: 5px;
    }
