body {
  background: #fff url("http://megauni.s3.amazonaws.com/bg.gif");
}

#intro {
  margin: 40px 0 0 0;
  padding: 20px 350px 0 20px;
  background: #000;
  color: #E1EEFF;
  text-align: center;
}

  #intro h2 {
    font-family: serif;
    font-size: 180%;
    font-style: italic;
    font-weight: normal;
    color: #FF721A;
  }

  #intro p {
    margin: 0;
  }

  #intro strong {
    background: #185DAD;
    color: #fff;
    padding: 0 5px;
    font-size: 90%;
    font-weight: normal;
  }

#forms {
  background: #fff url('http://megauni.s3.amazonaws.com/bg_overlay.gif');
  width: 270px;
  position: absolute;
  top: 0;
  right: 40px;
  text-align: center;
  padding: 10px 0 30px 0;
  border-radius:  0 0 10px 5px;
  border: 2px dotted red;
  border-top: 0;
}

div.form {
  margin: 0 10px;
}
  div.form h2 {
    color: #185DAD;
  }
  div.form a.cancel {
    margin-left: 10px;
  }

#show_sign_in {
  padding: 0;
  margin: 0;
}

#sign_in {
  padding: 0;
  display: none;
}

#or_create_account {
  margin: 0;
  padding: 10px 0;
  font-style: italic;
  font-family: serif;
  color: #65758A;
}

#create_account {
  padding-top: 0;
}


#footer {
  background: #000;
  margin: 0;
  padding: 10px 350px 20px 20px;
  font-size: 75%;
  color: #92999C;
  text-align: center;
}
  #footer p {
    margin: 0;
    padding: 0;
    line-height: 16px;
  }


