body {
  background: #fff url("http://megauni.s3.amazonaws.com/bg.gif") repeat -125px 0;
}

#forms {
  background: #fff url('http://megauni.s3.amazonaws.com/bg_overlay.gif') repeat -37px 0;
  width: 200px;
  position: absolute;
  top: 0;
  left: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
  border-radius:  0 0 10px 5px;
  border: 2px dotted red;
  border-top: 0;
}

  #forms input {
    width: 90%;
  }

  div.form {
    margin: 0 10px;
  }
    div.form h2 {
      color: #185DAD;
    }
    div.form a.cancel {
      margin-left: 10px;
    }

  #show_sign_in {
    padding: 0;
    margin: 0;
  }

  #sign_in {
    padding: 0;
    display: none;
  }

  #or_create_account {
    margin: 0;
    padding: 10px 0;
    font-style: italic;
    font-family: serif;
    color: #65758A;
  }

  #create_account {
    padding-top: 0;
  }

#intro, #keyword, #footer {
  margin: 0;
  padding: 0 0 0 240px ;
  background: #000;
  color: #E1EEFF;
  text-align: center;
}

#intro {
  margin-top: 40px;
  padding-top: 15px;
}

  #intro h2 {
    font-family: serif;
    font-size: 250%;
    font-style: italic;
    font-weight: normal;
    color: #FF721A;
    padding: 0;
    margin: 0;
    line-height: 1.3em;
  }

  #intro p {
    margin: 0;
    padding: 0;
  }

  #intro strong {
    background: #185DAD;
    color: #fff;
    padding: 0 5px;
    font-size: 90%;
    font-weight: normal;
  }


#footer {
  padding-top: 8px;
  font-size: 75%;
  color: #92999C;
}
  #footer p {
    margin: 0;
    padding: 0;
    line-height: 16px;
  }

#keyword {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 30px;
}
  #keyword div.label {
    background: transparent;
    color: #B7D850;
    font-weight: bold;
    padding: 0;
    display: block;
    padding-right: 25px;
    padding-bottom: 4px;
  }

  #keyword input {
    font-family: monospace;
    font-weight: bold;
    margin: 0px;
  }

  #keyword button {
  }
