
body {
  background: #fff url('http://megauni.s3.amazonaws.com/bg_overlay.gif');
  padding: 10px 0 0 170px;
}


#intro {
  background: #000;
  color: #E1EEFF;
  padding: 6px 0 6px 170px;
  margin-bottom: 10px;
  margin-left: -170px;
}

  #intro h2 {
    font-family: serif;
    font-size: 180%;
    font-style: italic;
    font-weight: normal;
    color: #FF721A;
    padding: 0;
    margin: 0;
  }

  #intro span {
    color: #fff;
  }

  #intro span.label {
    background: transparent;
    color: #B7D850;
    font-weight: bold;
    padding: 0;
  }

div.user_submitted {
  background: #fff;
  border-radius: 0 0 3px 3px;
  padding: 0 0 10px 0;
  margin: 0 10px 0 0;
}
  div.user_submitted h2 {
    padding: 0;
    background: #185DAD;
    color: #fff;
    padding: 3px 10px;
    font-weight: normal;
    font-size: 70%;
    text-transform: uppercase;
  }

  div.user_submitted div.body {
    padding: 10px;
    border: 1px solid #185DAD;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 0 6px;
  }

#sidebar {
  width: 120px;
  padding: 10px 0 0 0;
  position: absolute;
  top: 0;
  left: 30px;
  /* background: #fff url('http://megauni.s3.amazonaws.com/bg_overlay.gif') repeat -30px 0; */
  background: #fff;
  border: 1px dashed red;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
}
  #sidebar ul {
  }

  #sidebar ul li {
    padding: 0 0 10px 0;
  }



