
body {
  background: #fff url('http://megauni.s3.amazonaws.com/bg_overlay.gif');
}

#intro, div.user_submitted {
  margin: 0 20px 0 290px;
}

#sidebar {
  width: 250px;
  float: left;
  margin:  0 0 0 20px;
  padding: 10px 0;
}

  #sidebar div.img {
    border: 1px dashed red;
    height: 100px;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 10px;
    background: orange;
  }

  #control {
    border-radius: 0 0 6px 0;
    background: #191922;
    padding: 10px;
  }

#intro {
  background: #000;
  border-radius: 0 0 5px 5px;
  color: #E1EEFF;
}

  #intro h2 {
    font-family: serif;
    font-size: 180%;
    font-style: italic;
    font-weight: normal;
    color: #FF721A;
    padding: 0 20px 0 20px;
  }

  #intro p {
    padding: 0 20px 5px 20px;
  }

div.user_submitted {
  background: #fff;
  border-radius: 0 0 3px 3px;
  padding-bottom: 10px;
}
  div.user_submitted h2 {
    padding: 0;
    background: #185DAD;
    color: #fff;
    padding: 3px 10px;
    font-weight: normal;
    font-size: 75%;
    text-transform: uppercase;
  }

  div.user_submitted div.body {
    padding: 10px;
    border: 1px solid #185DAD;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 0 6px;
  }

