$red            = #FF0000
$dark_blue      = #185DAD
$light_blue     = #E1EEFF
$light_yellow   = #FFFDD2
$grey_on_light  = #727272
$yellow         = #FFEA74
$yellow_med     = #FFDF2C
$padding_create = 7px
$serif          = Georgia,Cambria,"Times New Roman",Times,serif;
$sans-serif     = 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif
$cursive        = 'Lenka', 'Ubuntu', 'Ubuntu Beta', UbuntuBeta, Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, proxima-nova, 'Helvetica Neue', Arial, sans-serif

$pink      = #F85D95
$samar_red = #F00919
$avacado   = #b0c460

$glass_white = rgba(255,255,255,0.40)

column_count(num)
  -moz-column-count: num
  -webkit-column-count: num
  -o-column-count: num
  -ms-column-count: num
  column-count: num
column_gap(num)
  -moz-column-gap: num
  -webkit-column-gap: num
  -o-column-gap: num
  -ms-column-gap: num
  column-gap: num
column_rule(num)
  -moz-column-rule: num
  -webkit-column-rule: num
  -o-column-rule: num
  -ms-column-rule: num
  column-rule: num

fade_in()
  -moz-transition    : background-color 1.3s linear;
  -webkit-transition : background-color 1.3s linear;
  -o-transition      : background-color 1.3s linear;
  -ms-transition     : background-color 1.3s linear;
  transition         : background-color 1.3s linear;

form input[type="text"]
  font-size: 190%

body
  padding: 0 0 80px 0
  background: #FCFCFC url('/img/patterns/wood_pattern.png');

#Session_Nav
  float: right

h1
  font-family: 'Libertinage', $serif
  background: transparent
  font-size: 140%
  font-style: normal
  font-weight: normal
  text-transform: none
  display: block
  padding: 10px 0 5px 10px
  margin: 0
  text-shadow: 1px 1px 1px lighten(#fff, 30%);


#One_More_Step
  overflow: auto
  div.box
    background: $glass_white
    text-align: center
    padding: 0 10px 10px 10px
    margin: 20px 0 0 0
    font-size: 120%
    padding: 20px 10px 30px 10px
    h3
      padding: 0 0 10px 0
      font-size: 90%
      color: lighten(#000, 30%)
      text-transform: none
    div.content
      width: 300px
      margin: 0 auto
      text-align: center
      div.fields, div.field, div.buttons, span.label
        display: inline
    a:link
    a:visited
      color: $pink
      border-width: 2px
    a:hover
      background: $pink
      color: #fff
      border-color: $pink


#The_Door
  display: none

#Boxs
  padding: 0
  margin: 0
  div.box
    margin: 0 0 10px 0
    padding: 0
    h3
      background #fff
    div.content
      background: #fff
      padding: 5px

  #Audience
    background: #fff
    padding: 0
    div.content
      max-height: 250px
      overflow: auto
      ul
        margin: 0
        padding: 0
        li
          padding: 0
          list-style: none
          display: inline
        li.is_out
          text-decoration: line-through
          a:link, a:visited
            color: lighten($grey_on_light, 60%)

  #Write
    padding: 0
    text-align: center
    div.content, form
      padding: 0
    span.label
      display: block
      font-weight: normal
      color: $yellow
      text-transform: none
      font-size: 100%
      padding: 3px 0 3px 0
    textarea
      min-height: 100px
      max-height: 300px
      max-width: 94%
      width: 94%
    div.buttons
      text-align: center
    div.content
      background: rgba(0,0,0,0.4)
      padding-top: 8px
      padding-bottom: 15px

#Chats
  padding: 0
  margin: 0
  div.msgs
    div.msg
      border-radius: 3px
      background: #fff
      padding: 3px 5px 3px 5px
      margin: 0 0 10px 5px
      span.author
        color: $dark_blue
        font-weight: bold
        font-size: 90%
        font-style: italic
      span.said
        color: $grey_on_light
        font-style: italic
      div.content
        font-size: 120%
        font-family: $serif
    div.official
      background: #1f1f1f
      background: rgba(7,7,7,0.7)
      color: #ececec
      color: $yellow
      font-style: italic
      div.content
        font-family: $sans-serif
        font-size: 100%
    div.me_chat_msg, div.me_msg
      background: $light_yellow
    div.error_msg
      color: $red

body.is_stranger
  h1
    text-align: center
    font-size: 250%
    padding-top: 20px
body.w600_minus
  #Boxs
    #Audience
      ul
        margin: 0
        padding: 0
        li
          list-style: none
          display: inline
        li:after
          content: ", "
        li:last-child:after
          content: ""

body.w600_plus
  #Boxs
    float: left
    width: 44%
    #Audience
      div.content
        column_count(3)
        column_gap(6px)
        column_rule(1px dotted #ececec)
        ul
          li
            display: block
            margin: 0
            padding: 0
            list-style: none
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

  #Chats
    width: 55%
    float: left
    padding-bottom: 80px

body.w1000_plus
  #Boxs
    #Audience
      div.content
        max-height: 350px
        column_count(6)
        column_gap(12px)

#Chats div.msgs
  div.highlight_up
    background: $yellow


