body {
  background: #fafafa url("/App/img/wood_pattern.png");
}
div.box {
  float: left;
  margin: 0 10px 10px 0;
}
div.box div.screen_name {
  padding: 0 0 10px 0;
}
div.box div.screen_name span.screen_name {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
#Screen_Names {
  width: 300px;
}
#Enter_Chat_Room {
  width: 300px;
}
