body {
  background: #fafafa url("/App/img/wood_pattern.png");
}
div.box {
  width: 300px;
  float: left;
  margin: 0 10px 10px 0;
}
div.box div.screen_name {
  padding: 0 0 10px 0;
}
div.box div.screen_name span.screen_name {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
h1 {
  margin: 10px 0 20px 0;
}
html.w700_minus div.box {
  width: auto;
  float: none;
  border-radius: 0;
  margin: 0 0 10px 0;
}
