append Session_Nav
  a.urgent(href="#urgent")
    span.number 0
    span.body  Urgent
  a.im_bored(href="#i_am_bored")
    span.number 0
    span.body  I'm Bored
  a.good_news(href="#good")
    span.number 0
    span.body  Good News
  a.bad_news(href="#bad")
    span.number 0
    span.body  Bad News
  a.other(href="#other")
    span.number 0
    span.body  Other Mail
