@import "../../css/common"

#Sidebar
  div.status
    text-align: left
    border-bottom: 1px dashed #ccc
    h3
      display: inline
    div.content
      display: inline
      border: 0
  div.not_ready
    background: $yellow

#Options
  margin: 10px 0 10px 10px
  float: left
  min-width: 300px
  div.box
    margin: 0 0 10px 0
    div.content
      padding: 10px 5px 10px 10px
      div.setting
        padding: 3px 0
