@import "../../css/common"

#Sidebar
  background: transparent
  h2
    margin: 10px 0
  div.status
    text-align: left
    border-bottom: 1px dashed #ccc
    h3
      display: inline
    div.content
      display: inline
      border: 0
  div.not_ready
    background: $yellow

  #About_Me
    div.content
      border: 0

  div.box
    div.content
      padding-bottom: 10px

div.update_code
  h4
    display: inline
    font-weight: normal
  a.show_less
    float: right
  div.show_more
    text-align: left
    padding: 10px
    border-bottom: 1px dashed #ccc
  div.show
    display: none
  &:last-child
    div.show_more
      border-bottom: 0

#Options
  margin: 10px 0 10px 10px
  float: left
  min-width: 300px
  div.setting
    background: #fff
    margin: 10px 0
    padding: 10px 5px 10px 10px
