include "../App/layout.blade"

append content

  div.col#Me
    h3= title
    div.content
      | After creating web pages, you can organize them with
      | folders.

  div.boxs

    div.box
      h3 Add Folder
      div.content
        | Create

    div.box
      h3 Conversations
      div.content
        | Create

    div.box
      h3 Q&amp;A
      div.content
        | Create

    div.box
      h3 RaNdoM StuFF
      div.content
        | Create
