body {
  padding: 0 0 100px 0;
  background: #fcfcfc url("/img/doodle.gif") repeat-x;
  background: #fcfcfc url("/App/img/ps_neutral_@2X.png");
}
#Me,
#Other_Screen_Names {
  width: 300px;
}
#Me h3,
#Other_Screen_Names h3 {
  font-family: 'Lenka';
  font-size: 200%;
  font-style: italic;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
#Me div.content,
#Other_Screen_Names div.content {
  background: rgba(0,0,0,0.6);
  padding: 2px 5px 4px 5px;
  color: #fff;
  text-align: center;
  font-size: 85%;
}
#Other_Screen_Names {
  margin-top: 10px;
}
#Other_Screen_Names div.content {
  text-align: left;
}
#Other_Screen_Names div.content ul,
#Other_Screen_Names div.content ol {
  margin-left: 0;
  padding-left: 20px;
}
#Other_Screen_Names div.content a {
  font-weight: bold;
}
#Create {
  width: 300px;
  background: rgba(0,0,0,0.6);
}
#Create div.link {
  padding: 0 2px 7px 0;
}
#Create a:link {
  padding: 1px 7px 5px 7px;
}
#Create div.loading {
  background-color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}
#Create div.success {
  background: #fff;
  padding: 3px 7px;
}
#Create div.errors {
  color: #f50000;
  padding: 3px 7px;
}
div.create_boxs {
  padding: 10px 0 0 0;
  overflow: auto;
}
div.create_boxs div.box {
  float: left;
  margin: 0 0 0 10px;
}
div.create_boxs div.box h3 {
  border-radius: 0;
  display: block;
  text-align: left;
  padding-left: 10px;
  color: #ffdf2c;
  background: rgba(0,0,0,0.8);
}
div.create_boxs div.box div.content {
  color: #ffdf2c;
  background: rgba(0,0,0,0.8);
}
div.create_boxs div.box div.content label,
div.create_boxs div.box div.content span.label {
  color: #ffdf2c;
}
div.create_boxs div.box div.content div.field span {
  display: block;
}
div.create_boxs div.box div.content div.field input {
  width: 98%;
}
div.create_boxs div.box div.content div.buttons {
  text-align: right;
}
#Create_Website {
  max-width: 300px;
}
div.boxs {
  padding: 10px 0 0 0;
  overflow: auto;
}
div.boxs div.box {
  float: left;
  margin: 0 0 0 10px;
  width: 150px;
}
div.boxs div.box h3 {
  padding-right: 5px;
  padding-left: 5px;
}
div.boxs div.box div.content {
  height: 150px;
  background: #ffea74;
  border-radius: 0 0 10px 0;
  font-size: small;
  text-align: center;
  padding: 0;
  margin: 0;
}
div.boxs div.box div.content div.buttons {
  background: rgba(0,0,0,0.8);
  padding: 5px;
  font-size: 80%;
  text-transform: uppercase;
}
#Folders {
  padding: 10px 0 0 10px;
  float: left;
  clear: right;
}
#Folders h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
}
#Folders div.folder {
  padding: 3px 0 5px 8px;
  font-size: 140%;
}
#Folders div.folder a.open {
  text-transform: lowercase;
}
#Folders div.folder span.title {
  padding: 0 0 0 3px;
}
#Folders div.folder:hover {
  background: #fff;
  font-weight: bold;
}
#Folders div.folder:hover a.open {
  text-transform: uppercase;
}
#Folders div.folder:hover span.title {
  padding: 0 0 0 9px;
}
#Create_Boxs {
  float: left;
}
