@font-face {
    font-family: 'Libertinage';
        src: url('/App/css/circus/Libertinage.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-c.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-u.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-k.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-e.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-o.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-s.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-d.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-r.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-p.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-w.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-t.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-q.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-f.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-y.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-h.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-a.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-x.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-j.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-g.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-z.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-n.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-b.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-m.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-v.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-i.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */

/* @font-face { */
    /* font-family: 'Libertinage'; */
        /* src: url('/App/css/circus/Libertinage-l.ttf') format('truetype'); */
    /* font-weight: normal; */
    /* font-style: normal; */
      /* } */


