@import "../css/common"

body
  background: #f1f1f1 url("/Error/escheresque.png")
  text-align: center
  padding: 40px 20px 20px 20px

#Message
  padding: 0.5em
  background: $yellow url("/Error/orange_yellow.gif") repeat -10px 0
  font-family: $sans-serif
  font-weight: bold
  color: #fff
  text-shadow  : 0.1em 0.1em 0.1em lighten(#000, 60%)
  border-radius: 0.4em

  div.rest
    color: $light_yellow
    font-size: 180%
