h1 {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  padding: 20px 10px 20px 10px;
  text-shadow: 1px 1px 1px #000;
  background: #008eed url("/App/img/old-beige-paper.jpg");
  color: #fff;
}
label {
  display: block;
}
#Items {
  text-align: center;
  padding: 0;
}
#Items div.content {
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
  background: #fff;
}
#Items div.content div.edit_this div.edit a:link {
  text-transform: uppercase;
}
#Items div.content div.edit_this div.success_msg {
  display: none;
  font-style: italic;
  background: #fffdd2;
  padding: 6px 10px 8px 10px;
  text-align: center;
}
#Items div.content div.edit_this form {
  padding: 10px 0 20px 10px;
}
#Items textarea {
  width: 95%;
  min-height: 500px;
  font-size: 140%;
}
#Items div.title input {
  width: 95%;
}
#Items button {
  margin: 0 15px 0 0;
}
#The_Page_Content {
  padding: 0 10px 30px 30px;
  line-height: 1.6;
  font-size: 130%;
}
#The_Page_Content h3 {
  margin: 0;
  font-weight: bold;
  text-transform: none;
  margin-left: -10px;
  font-size: 90%;
  padding: 10px 0 0 0;
}
#The_Page_Content div.p {
  padding: 5px 0 7px 0;
}
#Update_Page {
  display: none;
}
#Create,
#Creates {
  display: none;
}
#Creates label,
#Creates span.value {
  display: inline;
  padding: 0 5px 0 0;
}
