extends ./layout

block footer
  script(src='/App/js/underscore-min.js')
  script(src='/App/js/jquery-1.8.2.min.js')
  script(src='/App/js/jquery-ui-1.9.1.custom.min.js')
  script(src='/App/js/article.js')

block content

  include _nav_bar

  div(id='intro')
    h2 #{keywords}

  div.block(id='try_again')
    h2
      | Try again:
    div.body
      input(type='text', value='', name='keyword')
      button Go

  div.block(id='results')
    h2 Results:
    div.body
      p.not_found No results found.
      - for x in results
        div.result
          div.link
            a(href='#{x.href}') #{x.title}
          div.abstract #{x.abstract}

